title Arch Linux {{ item | capitalize }}
linux /vmlinuz-linux-{{ item }}
initrd /intel-ucode.img
initrd /initramfs-linux-{{ item }}.img
options cryptdevice=/dev/sda2:cryptroot root=/dev/mapper/cryptroot rw
