title Arch Linux
linux /vmlinuz-linux
initrd /intel-ucode.img
initrd /initramfs-linux.img
options cryptdevice={{ systemd_boot_device }}:{{ systemd_boot_dmname }} root=/dev/mapper/{{ systemd_boot_dmname }} rw
